<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>

<div class="container">
    <div class="row align-items-center">

        <div class="col-md-6 col-md-offset-3 loginBox">
            <div class="row">
                <h3>{{formTitle}}</h3>
            </div>
            <div class="row mb-5">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3 form-group">
                        <label for="raceName">Nombre de la carrera</label>
                        <input type="text" id="raceName" formControlName="name" class="form-control">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="gpx">Archivo GPX de la carrera</label>
                        <input id="gpxfile" class="form-control" type="file" accept=".gpx"
                            (change)="upload($any($event.target).files)" />
                    </div>

                    <div class="mb-3 form-group">
                        <label for="raceDay">Fecha de la carrera</label>
                        <input min={{this.minDate}} max={{this.maxDate}} type="date" id="raceDay" formControlName="day"
                            class="form-control">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="activityTypeSelect">Tipo de actividad</label>
                        <select id="activityTypeSelect" class="form-select" formControlName="activityType">
                            <option *ngFor="let act of activityTypes" [value]="activityTypeEnum[act]">
                                {{act}}
                            </option>
                        </select>
                    </div>

                    <label for="category-row-0">Categorías disponibles</label>
                    <div class="row mb-3 card" *ngFor='let in of categoryCounter(); let i = index'>
                        <div class="card-header">{{"Categoría #" + (i + 1)}}</div>
                        <div id="category-row-{{i}}" class="row card-body">
                            <div class="col">
                                <select id="category-{{i}}" class="form-select">
                                    <option *ngFor="let cat of categoryTypes" [value]="raceCategoryEnum[cat]">
                                        {{cat}}
                                    </option>
                                </select>
                                <!-- <input type="text" id="-{{i}}" class="form-control" placeholder="Código IBAN"> -->

                            </div>
                            <ng-container *ngIf="i == totalCategories - 1">
                                <div class="col-md-{{totalCategories === 1 ? 2 : 3}}">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary"
                                                (click)="addCategory()">+</button>
                                        </div>
                                        <ng-container *ngIf="totalCategories > 1">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="decreaseCategory()">-</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <label for="kilometers">Precio</label>
                    <div class="mb-3 form-group input-group">
                        <input type="number" id="price" formControlName="price" class="form-control">
                        <span class="input-group-text">CRC</span>
                    </div>

                    <label for="group-row-0">Cuentas de bancos</label>
                    <div class="row mb-3 card" *ngFor='let in of bankCounter() ;let i = index'>
                        <div class="card-header">{{"Cuenta Bancaria #" + (i + 1)}}</div>
                        <div id="bank-row-{{i}}" class="row card-body">
                            <div class="col">
                                <input type="text" id="iban-{{i}}" class="form-control" placeholder="Código IBAN">
                            </div>
                            <ng-container *ngIf="i == totalBanks - 1">
                                <div class="col-md-{{totalBanks === 1 ? 2 : 3}}">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary" (click)="addBank()">+</button>
                                        </div>
                                        <ng-container *ngIf="totalBanks > 1">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="decreaseBank()">-</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <label for="sponsor-row-0">Patrocinadores</label>
                    <div class="row mb-3 card" *ngFor='let in of sponsorCounter(); let i = index'>
                        <div class="card-header">{{"Patrocinador #" + (i + 1)}}</div>
                        <div id="sponsor-row-{{i}}" class="row card-body">
                            <div class="col">
                                <app-search-field #sponsorSearchField searchFor="Sponsors"
                                    (selectEvent)="selectSponsor($event, i)" (unselectEvent)="unselectSponsor(i)">
                                </app-search-field>
                            </div>
                            <ng-container *ngIf="i == totalSponsors - 1">
                                <div class="col-md-{{totalSponsors === 1 ? 2 : 3}}">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary"
                                                (click)="addSponsor()">+</button>
                                        </div>
                                        <ng-container *ngIf="totalSponsors > 1">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="decreaseSponsor()">-</button>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="privacyCheck">
                            Privado
                        </label>
                        <input class="form-check-input" formControlName="isPrivate" type="checkbox" id="privacyCheck">
                    </div>

                    <ng-container *ngIf="isPrivate">
                        <label for="group-row-0">Grupos Privados</label>
                        <div class="row mb-3 card" *ngFor='let in of groupCounter(); let i = index'>
                            <div class="card-header">{{"Grupo #" + (i + 1)}}</div>
                            <div id="group-row-{{i}}" class="row card-body">
                                <div class="col">
                                    <app-search-field #groupSearchField searchFor="Groups"
                                        (selectEvent)="selectGroup($event, i)" (unselectEvent)="unselectGroup(i)">
                                    </app-search-field>
                                </div>
                                <ng-container *ngIf="i == totalGroups - 1">
                                    <div class="col-md-{{totalGroups === 1 ? 2 : 3}}">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="addgroup()">+</button>
                                            </div>
                                            <ng-container *ngIf="totalGroups > 1">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="decreaseGroup()">-</button>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <!-- FALTA: sponsors -->

                    <ng-container *ngIf="this.message">
                        <p>
                            {{this.message}}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="this.warnMessage">
                        <p class="warning">
                            {{this.warnMessage}}
                        </p>
                    </ng-container>

                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>

        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th>UUID</th> -->
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Actividad</th>
                            <th>Precio</th>
                            <th>Categoría Disponibles</th>
                            <th># de Grupos Privados</th>
                            <th># de Patrocinadores</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let race of race_list">
                            <td>{{race.r.name}}</td>
                            <td>{{race.r.day.toLocaleString()}}</td>
                            <td>{{activityTypeEnum[race.r.type]}}</td>
                            <td>{{race.r.price}}</td>
                            <td>{{race.r.categories.join(', ')}}</td>
                            <td>{{race.r.privateGroups.length}}</td>
                            <td>{{race.r.sponsors.length}}</td>
                            <td>
                                <div className="container">


                                    <div className="d-grid gap-2 col-6 mx-auto">
                                        <button type="button" class="btn btn-secondary"
                                            (click)="activateEditing(race.id, race.r)">
                                            Editar
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deleteRaceSubmit(race.id)">
                                            Eliminar
                                        </button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div id="mapDiv" class="col-md-6">
        <div id="gpx-map" style="height: 600px;" leaflet [leafletOptions]="options" [leafletLayers]="gpxLayer"
            (leafletMapReady)="onMapReady($event)">>
        </div>
    </div>
</div>