<div class="container">
    <div class="row align-items-center">

        <div class="col-md-6 col-md-offset-3 loginBox">
            <div class="row">
                <h3>Registro de Actividades</h3>
            </div>
            <div class="row mb-5">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3 form-group">
                        <label for="startDate">Fecha y hora de inicio de actividad</label>
                        <input min={{this.minDate}} max={{this.maxDate}} type="datetime-local" id="startDate" formControlName="startDate"
                        class="form-control">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="endDate">Fecha y hora de finalización de actividad</label>
                        <input min={{this.minDate}} max={{this.maxDate}} type="datetime-local" id="endDate" formControlName="endDate"
                        class="form-control">
                    </div>
        
                    <div class="row mb-3 form-group">
                        <label for="fullname">Especifique el tipo de actividad realizado</label>

                        <select class="form-select" aria-label="Default select example" formControlName="activityType">
                            <option selected>Tipo de Actividad</option>
                            <option value="Running">Running</option>
                            <option value="Swimming">Swimming</option>
                            <option value="Cycling">Cycling</option>
                            <option value="Hiking">Hiking</option>
                            <option value="Kayak">Kayaking</option>
                            <option value="Walking">Walking</option>
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label for="gpx">Seleccione el archivo GPX de la actividad</label>
                        <input id="gpxfile" class="form-control" type="file" accept=".gpx"
                            (change)="upload($any($event.target).files)" />
                    </div>

                    <ng-container *ngIf="this.message">
                        <p class="warning">
                            {{this.message}}
                        </p>
                    </ng-container>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>

        </div>
        
    </div>  
</div>