<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        <li *ngIf="this.role === RoleLevels.Organizer" [routerLinkActive]="['link-active']"><a class="dropdown-item"
                [routerLink]="['/register=org']">Crear organizador</a>
        </li>

        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProfile">
            Editar perfil
        </button>

        <button type="button" class="dropdown-item warning" data-bs-toggle="modal" data-bs-target="#deleteProfile">
            Eliminar perfil
        </button>

        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" type="button" (click)="logout()">Logout</a></li>
    </ul>
</li>


<!-- Edit modal -->
<div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileLabel">Editar perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-edit-profile-form *ngIf="userInfo!==null" #editForm [user]="userInfo"></app-edit-profile-form>
                <p *ngIf="userInfo===null">Cargando información de usuario...</p>

            </div>
            <div class="modal-footer">
                <div *ngIf="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="editUser()" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteProfile" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="delete-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Eliminar cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Seguro que desea eliminar su cuenta? Esta acción es irreversible.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="deleteUser()" class="btn btn-danger">Eliminar cuenta</button>
            </div>
        </div>
    </div>
</div>