<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <!-- <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li> -->
        <li><a class="dropdown-item" type="button" (click)="logout()">Logout</a></li>
    </ul>
</li>



<!-- <button type="click" (click)="logout()" class="btn btn-danger">Salir</button> -->