<div class="container">
    <div class="row mb-3">
        <h3>Búsqueda de Atletas</h3>
    </div>
    <form [formGroup]="searchUserForm" (ngSubmit)="onSearch()">
        <div class="col mb-4 form-group">
            <label for="Nombre del Atleta">Ingrese el nombre del atleta a buscar:</label>
            <input formControlName="username" class="form-control" placeholder="Nombre del Atleta">
        </div>
        <div class="col-md-4">
            <button type="search" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <div class="row-md-4">
        <ng-container *ngIf="this.message">
            <p>
                {{this.message}}
            </p>
        </ng-container>
    </div>
    <div class="row-md-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Nacionalidad</th>
                        <th>Edad</th>
                        <th>Seguir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users_page; index as i">
                        <td>{{user.username}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.country.alpha2 + user.country.flag}}</td>
                        <td>{{user.age}}</td>
                        <td>
                            <div #ListItem1><button type="follow" class="btn btn-outline-success"
                                    *ngIf="!isFollowing(user.relationship)"
                                    (click)="onFollow(user_id_list[i])">Follow</button></div>
                            <div #ListItem2><button type="unfollow" class="btn btn-outline-danger"
                                    *ngIf="isFollowing(user.relationship)"
                                    (click)="onUnfollow(user_id_list[i])">Unfollow</button></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>