<form [formGroup]="resetForm">


    <div class="mb-3 form-group">
        <label for="old-password">Contraseña Actual</label>
        <input type="password" id="old-password" formControlName="old" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label for="id">Contraseña Nueva</label>
        <input type="password" id="new-password" formControlName="new" class="form-control">
    </div>

    <ng-container *ngIf="this.message">
        <p class="warning">
            {{this.message}}
        </p>
    </ng-container>
    <!-- <button type="submit" class="btn btn-primary">Regístrese</button> -->
</form>