<header>
  <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">StraviaTEC</a>
      <div class="d-sm-inline-flex justify-content-end">

        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <ng-container *ngTemplateOutlet="this.authenticated ?  loggedBlock : unloggedBlock">
          </ng-container>

        </ul>
      </div>
    </div>
  </nav>
</header>

<ng-template #unloggedBlock>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
  </li>
</ng-template>

<ng-template #loggedBlock>
  <ng-container *ngIf="this.role === this.RoleLevels.Athlete">
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/register=act']">Registrar actividad</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/subscribe=race']">Carreras</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/subscribe=challenge']">Retos</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/subscribe=group']">Grupos</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/subscriptions']">Inscripciones</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/search']">Buscar usuarios</a>
    </li>
  </ng-container>

  <ng-container *ngIf="this.role === this.RoleLevels.Organizer">
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/admin=race']">Carreras</a>
    </li>
  </ng-container>


  <app-settings-dropdown></app-settings-dropdown>



</ng-template>