<div class="container">
    <div class="row mb-3">
        <h3>Inscripción a Carreras</h3>
    </div>
    <form [formGroup]="searchRaceForm" (ngSubmit)="onSearch()">
        <div class="col mb-4 form-group">
            <label for="Nombre del Atleta">Ingrese el nombre de la carrera a buscar:</label>
            <input formControlName="raceName" class="form-control" placeholder="Nombre de la Carrera">
        </div>
        <div class="col-md-4">
            <button type="search" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <div class="row-md-4">
        <ng-container *ngIf="this.message">
            <p>
                {{this.message}}
            </p>
        </ng-container>
    </div>
    <div class="row-md-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Carrera</th>
                        <th>Finalización</th>
                        <th>Precio</th>
                        <th>Tipo de Deporte</th>
                        <th>Categorías</th>
                        <th>Inscripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let race of races_page; index as i">
                        <td>{{race.name}}</td>
                        <td>{{race.day.toDateString()}}</td>
                        <td>{{race.price}}</td>
                        <td>{{race.type}}</td>
                        <th>{{race.categories}}</th>
                        <td>
                            <div #ListItem1><button type="register" class="btn btn-outline-success"
                                    (click)="onRegister(races_id_list[i])" *ngIf="!isRegistered(race.status)" data-bs-toggle="modal" data-bs-target="#inscriptionModal">Inscribirse</button></div>
                            <div #ListItem2><button type="Already-registered" class="btn btn-secondary"
                                *ngIf="isRegistered(race.status)" disabled>Already Registered</button></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inscripción</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="raceFileForm">
                <div class="mb-2 form-group">
                    <label for="pdf">Seleccione el archivo del recibo de pago de la carrera a inscribirse</label>
                    <input id="pdffile" class="form-control" type="file" accept=".pdf" 
                    (change)="upload($any($event.target).files)"/>
                </div>
            </form>
            <div class="row-md-4">
                <ng-container *ngIf="this.modalMessage">
                    <p>
                        {{this.modalMessage}}
                    </p>
                </ng-container>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onConfirmRegister()">Inscribirse</button>
        </div>
      </div>
    </div>
  </div>