<ng-container *ngTemplateOutlet="this.authenticated ?  loggedBlock : unloggedBlock">
</ng-container>

<ng-template #unloggedBlock>
  <h1>¡Bienvenido a StraviaTEC!</h1>
  <p>En esta página web se podrá:</p>
  <ul>
    <li>Registrar como usuario</li>
    <li>Registrar actividades</li>
    <li>Inscribirse a carreras y retos</li>
    <li>Seguir a otros atletas</li>
  </ul>
  <p>Si no tiene una cuenta registrada, haga click en el botón de Login en 
    la parte superior derecha, donde se le permitirá la opción de Registrarse
    en el sistema</p>
</ng-template>

<ng-template #loggedBlock>
  <app-user-dashboard></app-user-dashboard>
</ng-template>
